<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id|htmlentities}">
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" value="{$row.title|default=''|htmlentities}" maxlength="255" data-rule="required;length(1~255)">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[category_id]', $categoryList, isset($row['category_id']) ? $row['category_id'] : '', ['class'=>'form-control selectpicker', 'id'=>'c-category_id', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[type_id]', $typeList, isset($row['type_id']) ? $row['type_id'] : 1)}
        </div>
    </div>
    <div class="form-group">
        <label for="c-cover" class="control-label col-xs-12 col-sm-2">{:__('Cover')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cover" class="form-control" size="50" name="row[cover]" type="text" value="{$row.cover|default=''|htmlentities}" placeholder="https://">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-cover" class="btn btn-danger faupload" data-input-id="c-cover" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-cover"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cover" class="btn btn-primary fachoose" data-input-id="c-cover" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cover"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-cover"></ul>
            <span class="help-block">{:__('Cover tips')}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="c-source_url" class="control-label col-xs-12 col-sm-2">{:__('Source_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_url" class="form-control" name="row[source_url]" type="text" value="{$row.source_url|default=''|htmlentities}" maxlength="512" placeholder="https://">
        </div>
    </div>
    <div class="form-group">
        <label for="c-upload_time" class="control-label col-xs-12 col-sm-2">{:__('Upload_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-upload_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[upload_time]" type="text" value="{$row.upload_time|default=''|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-publish_time" class="control-label col-xs-12 col-sm-2">{:__('Publish_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-publish_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" name="row[publish_time]" type="text" value="{$row.publish_time|default=''|htmlentities}">
        </div>
    </div>
    <div class="form-group" id="content-editor-group"{if isset($row.type_id) && $row.type_id == 2} style="display:none;"{/if}>
        <label for="c-content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" name="row[content]" rows="10"{if isset($row.type_id) && $row.type_id == 2} disabled{/if}>{$row.content|default=''|htmlentities}</textarea>
            <span class="help-block content-editor-tips">{:__('Content editor tips')}</span>
        </div>
    </div>
    <div class="form-group" id="content-video-group"{if !isset($row.type_id) || $row.type_id != 2} style="display:none;"{/if}>
        <label for="c-content-video" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-content-video" class="form-control" type="text" value="{$row.content|default=''|htmlentities}" maxlength="2000" placeholder="https://"{if isset($row.type_id) && $row.type_id == 2} name="row[content]"{/if}>
            <div id="video-preview-wrap" class="video-preview-wrap" style="display:none;margin-top:10px;">
                <video id="c-content-video-preview" class="video-preview" controls preload="metadata" playsinline style="max-width:100%;max-height:360px;background:#000;"></video>
            </div>
            <span class="help-block">{:__('Content video tips')}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', $statusList, isset($row['status']) ? $row['status'] : 0)}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
